RewriteEngine On

# If request already targets build folder, do nothing
RewriteRule ^build/ - [L]

# If file or directory exists in root, serve normally
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect everything else to build
RewriteRule ^(.*)$ build/$1 [L]