Options -MultiViews
RewriteEngine On

# Don't rewrite real files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Serve the React app for all client-side routes (e.g. /admin)
RewriteRule ^ index.html [QSA,L]
